
body {
  background-color: #121212 !important;
  color: #f1f1f1 !important; 
}


a {
  color: #bb86fc;
  text-decoration: none;
}

a:hover {
  color: #ffffff;
}

.card {
  background-color: #1e1e1e !important;
  border: 1px solid #333 !important;
  transition: transform 0.2s ease-in-out;
}

.card:hover {
  transform: translateY(-5px);
}

.card-body {
  color: #f1f1f1 !important; 
}

.card-title {
  color: #bb86fc !important;
}

.card-text, .card-body strong {
  color: #ffffff !important; 
}


.modal-content, .dropdown-menu {
    background-color: #2c2c2c !important;
    color: white !important;
}

.modal-header, .dropdown-divider {
    border-bottom: 1px solid #444 !important;
}

.form-control, .form-select {
    background-color: #333 !important;
    color: white !important;
    border: 1px solid #555 !important;
}

.form-control:focus, .form-select:focus {
    background-color: #333;
    color: white;
    box-shadow: 0 0 0 0.25rem rgba(187, 134, 252, 0.25);
    border-color: #bb86fc;
}

.table {
    color: #f1f1f1 !important;
}

.form-control::placeholder {
  color: #a0a0a0;
  opacity: 1; 
}

.modal-body .text-muted {
  color: #adb5bd !important; 
}

.dropdown-menu {
  background-color: #2c2c2c;
  border: 1px solid #444;
}

.dropdown-item {
  color: #f1f1f1;
}

.dropdown-item:hover, .dropdown-item:focus {
  color: #121212; 
  background-color: #f8f9fa;
}